.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.top button {
    background-color: rgb(226, 226, 226);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    gap: 2px;
}

.center {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.center h3{
  font-size: 16px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #aeaeae;
}

.center h2{
  font-size: 21px;
  font-weight: 500;

}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #e4e4e4;
  color: #202020;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;
}

.bottom {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom button{
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 7px 16px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  column-width: 600;
}

.bottom h3{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 4px;
}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}

