* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  height: 200px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  border-radius: 10px;
}

.buttons {
  width: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #3e3e3e;
  color: white;
}